[submodule "medaka-ziram-vae"]
	path = medaka-ziram-vae
	url = https://github.com/esther-yoo/medaka-ziram-vae.git
[submodule "ShapeEmbedFork"]
	path = ShapeEmbedFork
	url = https://github.com/Fannoux/ShapeEmbedECCV.git
	branch = ziram-eccv
